$text-color: var(--vscode-foreground, var(--vscode-editor-foreground));
$background-color: var(--vscode-editor-background);
$link-color: var(--vscode-textLink-foreground, var(--vscode-foreground));
$link-active-color: var(
  --vscode-textLink-activeForeground,
  var(--vscode-textLink-foreground, var(--vscode-foreground))
);

@use './vscode-semi-theme';
@use './semi-overrides';
@use './simplebar';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  color: $text-color;
  background: $background-color;
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
}

body {
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-active-color;
  }
}

.text-bold {
  font-weight: 700;
}
