@import url(./lib/modern-normalize.css);

html,
body {
  font-size: 14px;
}

a {
  text-decoration: none;
}

hr {
  margin: 20px 0;
  border: none;
  height: 1px;
  background-color: var(--vscode-editorIndentGuide-background);
}

.text-bold {
  font-weight: bold;
}
