* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
hr {
  margin: 20px 0;
  border: none;
  height: 1px;
  background-color: var(--vscode-editorIndentGuide-background);
}
.container {
  min-width: 400px;
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
}
.topic-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topic-header h1 {
  flex: 1;
}
.topic-header img {
  width: 73px;
  height: 73px;
  margin-left: 20px;
  flex-shrink: 0;
  border-radius: 4px;
}
.topic-meta {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.topic-meta .node {
  flex-shrink: 0;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: var(--vscode-editor-inactiveSelectionBackground);
  color: var(--vscode-editor-foreground);
}
.topic-meta .user {
  margin-left: 10px;
}
.topic-meta .time {
  margin-left: 10px;
  opacity: 0.5;
}
.topic-content {
  line-height: 1.5;
  word-break: break-all;
  overflow-wrap: break-word;
}
.topic-content p {
  margin: 10px 0;
}
.topic-content a {
  word-break: break-all;
}
.topic-content img {
  max-width: 100% !important;
}
.topic-content pre {
  font-family: inherit;
  white-space: pre;
  word-break: break-all;
}
.topic-content code {
  font-family: inherit;
  white-space: pre-wrap;
  word-break: break-all;
}
.topic-content.append h2 {
  padding-bottom: 10px;
}
.topic-toolbar {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.topic-toolbar .op {
  margin-right: 10px;
}
.topic-toolbar .text {
  opacity: 0.5;
}
.topic-toolbar .text + .text {
  padding-left: 10px;
}
.topic-toolbar .count {
  margin-left: auto;
}
.reply h2 {
  padding-bottom: 10px;
}
.reply-item {
  display: flex;
  flex-direction: row;
}
.reply-item .avatar {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  margin-right: 10px;
}
.reply-item:hover .thankReply {
  visibility: visible !important;
}
.reply-item-wrap {
  flex: 1;
  overflow: hidden;
}
.reply-item-wrap .meta {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reply-item-wrap .meta .user--author::after {
  content: '楼主';
  padding: 1px;
  border: 1px solid var(--vscode-textLink-foreground);
  border-radius: 4px;
  margin-left: 5px;
  font-size: 0.8em;
  box-sizing: border-box;
  font-weight: normal;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.reply-item-wrap .meta .time {
  padding-left: 10px;
  opacity: 0.5;
}
.reply-item-wrap .meta .thanks {
  padding-left: 10px;
  flex: 1;
  opacity: 0.5;
}
.reply-item-wrap .meta .reply-right {
  margin-left: auto;
}
.reply-item-wrap .meta .reply-right .thankReply {
  visibility: hidden;
}
.reply-item-wrap .meta .reply-right .thanked {
  opacity: 0.5;
}
.reply-item-wrap .meta .reply-right .floor {
  margin-left: 10px;
  font-size: 10px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  display: inline-block;
  background-color: var(--vscode-editor-inactiveSelectionBackground);
  padding: 0 5px;
}
.reply-item-wrap .content {
  margin-top: 5px;
}
.post-reply textarea {
  display: block;
  width: 100%;
  min-height: 120px;
  resize: vertical;
  overflow-y: scroll;
  overflow-wrap: break-word;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid var(--vscode-editorIndentGuide-background);
  box-sizing: border-box;
  background-color: transparent;
  color: var(--vscode-editor-foreground);
}
.post-reply .submit {
  margin-top: 10px;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: var(--vscode-editor-inactiveSelectionBackground);
  color: var(--vscode-editor-foreground);
  cursor: pointer;
}
