* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
hr {
  margin: 20px 0;
  border: none;
  height: 1px;
  background-color: var(--vscode-editorIndentGuide-background);
}
.text-bold {
  font-weight: bold;
}
.container {
  min-width: 400px;
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
}
